<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dylan.cs477">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"></activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"></activity>
        <activity android:name=".Catalog"></activity>
        <activity android:name=".ProductDetails"></activity>
        <activity android:name=".ShoppingCart"></activity>
        <activity android:name=".Restraunt">
        </activity>


        <receiver
            android:name=".CartReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>
